<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="iPro" version="3.0">
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>springMvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:springMvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springMvc</servlet-name>
		<url-pattern>*.jspx</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>shiroFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>shiroFilter</filter-name>
		<url-pattern>*.jspx</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>SetCharacterEncoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<servlet>
		<display-name>pumpEleStatisticsQuartzServlet</display-name>
		<servlet-name>pumpEleStatisticsQuartzServlet</servlet-name>
		<servlet-class>com.xt.factory.DelegatingServletProxy</servlet-class>
		<init-param>
			<param-name>cronSchedule</param-name>
			<param-value>0 0 0/1 * * ?</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<display-name>weatherQuartzServlet</display-name>
		<servlet-name>weatherQuartzServlet</servlet-name>
		<servlet-class>com.xt.factory.DelegatingServletProxy</servlet-class>
		<init-param>
			<param-name>cronSchedule</param-name>
			<param-value>0 0 0/2 * * ?</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>

	<servlet>
		<display-name>weatherAlarmQuartzServlet</display-name>
		<servlet-name>weatherAlarmQuartzServlet</servlet-name>
		<servlet-class>com.xt.factory.DelegatingServletProxy</servlet-class>
		<init-param>
			<param-name>cronSchedule</param-name>
			<param-value>0 0/1 * * * ?</param-value>
		</init-param>
		<load-on-startup>4</load-on-startup>
	</servlet>

	<servlet>
		<display-name>pumpCollectQuartzServlet</display-name>
		<servlet-name>pumpCollectQuartzServlet</servlet-name>
		<servlet-class>com.xt.factory.DelegatingServletProxy</servlet-class>
		<init-param>
			<param-name>cronSchedule</param-name>
			<param-value>0 0/3 * * * ?</param-value>
		</init-param>
		<load-on-startup>5</load-on-startup>
	</servlet>

<!-- 
	<servlet>
		<display-name>collectMainServlet</display-name>
		<servlet-name>collectMainServlet</servlet-name>
		<init-param>
			<param-name>port</param-name>
			<param-value>10101</param-value>
		</init-param>
		<servlet-class>com.xt.factory.DelegatingServletProxy</servlet-class>
		<load-on-startup>6</load-on-startup>
	</servlet>
 -->
 
	<filter-mapping>
		<filter-name>SetCharacterEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/resources/page/err.jsp</location>
	</error-page>

	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>
</web-app>