<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/jdbc
	http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
	http://www.springframework.org/schema/cache
	http://www.springframework.org/schema/cache/spring-cache-3.1.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util.xsd">
	
	<!-- 自动扫描web包 ,将带有注解的类 纳入spring容器管理 -->
	<context:component-scan base-package="com.xt.service" />
	<context:component-scan base-package="com.xt.task" />
	<context:component-scan base-package="com.xt.servlet" />

	<!-- 引入jdbc配置文件 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:proxool.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="jobFactory" class="com.xt.factory.JobFactory"></bean>
	
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="jobFactory" ref="jobFactory"></property>
	</bean>
	
	<!-- 配置proxool数据源 -->
	<bean id="proxoolDataSource" class="org.logicalcobwebs.proxool.ProxoolDataSource">
		<property name="driver" value="${proxool.driverClass}" />
		<property name="driverUrl" value="${proxool.driverUrl}" />
		<property name="user" value="${proxool.user}" />
		<property name="password" value="${proxool.password}" />
		<property name="houseKeepingTestSql" value="${proxool.houseKeepingTestSql}" />
		<property name="prototypeCount" value="${proxool.prototypeCount}" />
		<property name="houseKeepingSleepTime" value="${proxool.houseKeepingSleepTime}" />
		<property name="maximumActiveTime" value="${proxool.maximumActiveTime}" />
		<property name="minimumConnectionCount" value="${proxool.maximumConnectionCount}" />
		<property name="maximumConnectionCount" value="${proxool.minimumConnectionCount}" />
		<property name="maximumConnectionLifetime" value="${proxool.maximumConnectionLifetime}" />
		<property name="simultaneousBuildThrottle" value="${proxool.simultaneousBuildThrottle}" />
		<property name="alias" value="${proxool.alias}" />
	</bean>
	
	<!-- Session工程实例 -->
	<bean name="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="proxoolDataSource" />
		<property name="configLocation" value="classpath:mybatisConfig.xml"></property>
		<property name="mapperLocations"  value="classpath*:com/xt/mapper/*/*Mapper.xml" />
		<property name="typeAliasesPackage" value="com.xt.entity.generation,com.xt.entity.custom" />
	</bean>
	
	<!-- MyBaties Mapper配置 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="sessionFactory" />
		<property name="basePackage" value="com.xt.dao.generation,com.xt.dao.custom" />
	</bean>
	
	<!-- 自定义Realm -->
	<bean id="shiroJDBCRealm" class="com.xt.security.ShiroJDBCRealm" />
	<bean id="sessionDAO" class="org.apache.shiro.session.mgt.eis.MemorySessionDAO" />
	<bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
		<property name="sessionDAO" ref="sessionDAO" />
		<property name="sessionValidationInterval" value="1800000"/>
		<property name="globalSessionTimeout" value="1800000"/>
		<property name="sessionIdCookie.name" value="xtid"/>
		<property name="sessionIdCookie.path" value="/"/>
	</bean>
	<bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager" />
	
	<!-- 安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="shiroJDBCRealm" />
		<property name="sessionManager" ref="sessionManager" />
		<!-- 使用下面配置的缓存管理器 -->
		<property name="cacheManager" ref="cacheManager" />
	</bean>
	
	<!-- Shiro过滤器 -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<!-- Shiro的核心安全接口,这个属性是必须的 -->
		<property name="securityManager" ref="securityManager" />
	</bean>
	<bean id="serviceAdvisorAutoProxyCreator" class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" />
	<bean id="serviceAuthorizationAttributeSourceAdvisor" class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager" />
	</bean>
	
	<!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" />
	
	<!-- 配置事务管理 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager" p:dataSource-ref="proxoolDataSource" />
	<tx:advice id="txAdvice" transaction-manager="transactionManager"></tx:advice>
	<aop:aspectj-autoproxy />
	<aop:config proxy-target-class="true">
		<aop:pointcut id="serviceMethod" expression="execution(* com.xt.service..*(..))" />
		<aop:advisor pointcut-ref="serviceMethod" advice-ref="txAdvice" />
    </aop:config>
</beans> 