<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xt.dao.generation.PacketQueryMapper">
  <resultMap id="BaseResultMap" type="com.xt.entity.generation.PacketQuery">
    <id column="packet_id" jdbcType="BIGINT" property="packetId" />
    <result column="packet_type" jdbcType="VARCHAR" property="packetType" />
    <result column="packet_data" jdbcType="VARCHAR" property="packetData" />
    <result column="packet_status" jdbcType="CHAR" property="packetStatus" />
    <result column="collect_time" jdbcType="TIMESTAMP" property="collectTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    packet_id, packet_type, packet_data, packet_status, collect_time
  </sql>
  <select id="selectByExample" parameterType="com.xt.entity.generation.PacketQueryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from w_packet_query
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from w_packet_query
    where packet_id = #{packetId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from w_packet_query
    where packet_id = #{packetId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xt.entity.generation.PacketQueryExample">
    delete from w_packet_query
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xt.entity.generation.PacketQuery">
    insert into w_packet_query (packet_id, packet_type, packet_data, 
      packet_status, collect_time)
    values (#{packetId,jdbcType=BIGINT}, #{packetType,jdbcType=VARCHAR}, #{packetData,jdbcType=VARCHAR}, 
      #{packetStatus,jdbcType=CHAR}, #{collectTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xt.entity.generation.PacketQuery">
    insert into w_packet_query
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="packetId != null">
        packet_id,
      </if>
      <if test="packetType != null">
        packet_type,
      </if>
      <if test="packetData != null">
        packet_data,
      </if>
      <if test="packetStatus != null">
        packet_status,
      </if>
      <if test="collectTime != null">
        collect_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="packetId != null">
        #{packetId,jdbcType=BIGINT},
      </if>
      <if test="packetType != null">
        #{packetType,jdbcType=VARCHAR},
      </if>
      <if test="packetData != null">
        #{packetData,jdbcType=VARCHAR},
      </if>
      <if test="packetStatus != null">
        #{packetStatus,jdbcType=CHAR},
      </if>
      <if test="collectTime != null">
        #{collectTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xt.entity.generation.PacketQueryExample" resultType="java.lang.Long">
    select count(*) from w_packet_query
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update w_packet_query
    <set>
      <if test="record.packetId != null">
        packet_id = #{record.packetId,jdbcType=BIGINT},
      </if>
      <if test="record.packetType != null">
        packet_type = #{record.packetType,jdbcType=VARCHAR},
      </if>
      <if test="record.packetData != null">
        packet_data = #{record.packetData,jdbcType=VARCHAR},
      </if>
      <if test="record.packetStatus != null">
        packet_status = #{record.packetStatus,jdbcType=CHAR},
      </if>
      <if test="record.collectTime != null">
        collect_time = #{record.collectTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update w_packet_query
    set packet_id = #{record.packetId,jdbcType=BIGINT},
      packet_type = #{record.packetType,jdbcType=VARCHAR},
      packet_data = #{record.packetData,jdbcType=VARCHAR},
      packet_status = #{record.packetStatus,jdbcType=CHAR},
      collect_time = #{record.collectTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xt.entity.generation.PacketQuery">
    update w_packet_query
    <set>
      <if test="packetType != null">
        packet_type = #{packetType,jdbcType=VARCHAR},
      </if>
      <if test="packetData != null">
        packet_data = #{packetData,jdbcType=VARCHAR},
      </if>
      <if test="packetStatus != null">
        packet_status = #{packetStatus,jdbcType=CHAR},
      </if>
      <if test="collectTime != null">
        collect_time = #{collectTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where packet_id = #{packetId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xt.entity.generation.PacketQuery">
    update w_packet_query
    set packet_type = #{packetType,jdbcType=VARCHAR},
      packet_data = #{packetData,jdbcType=VARCHAR},
      packet_status = #{packetStatus,jdbcType=CHAR},
      collect_time = #{collectTime,jdbcType=TIMESTAMP}
    where packet_id = #{packetId,jdbcType=BIGINT}
  </update>
</mapper>