<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xt.dao.generation.PumpEleStatisticsMapper">
  <resultMap id="BaseResultMap" type="com.xt.entity.generation.PumpEleStatistics">
    <id column="data_id" jdbcType="VARCHAR" property="dataId" />
    <result column="pump_id" jdbcType="VARCHAR" property="pumpId" />
    <result column="interval_year" jdbcType="SMALLINT" property="intervalYear" />
    <result column="interval_month" jdbcType="SMALLINT" property="intervalMonth" />
    <result column="interval_day" jdbcType="SMALLINT" property="intervalDay" />
    <result column="interval_hour" jdbcType="SMALLINT" property="intervalHour" />
    <result column="ele_interval" jdbcType="DECIMAL" property="eleInterval" />
    <result column="ele_total" jdbcType="DECIMAL" property="eleTotal" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    data_id, pump_id, interval_year, interval_month, interval_day, interval_hour, ele_interval, 
    ele_total
  </sql>
  <select id="selectByExample" parameterType="com.xt.entity.generation.PumpEleStatisticsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from w_pump_ele_statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from w_pump_ele_statistics
    where data_id = #{dataId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from w_pump_ele_statistics
    where data_id = #{dataId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xt.entity.generation.PumpEleStatisticsExample">
    delete from w_pump_ele_statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xt.entity.generation.PumpEleStatistics">
    insert into w_pump_ele_statistics (data_id, pump_id, interval_year, 
      interval_month, interval_day, interval_hour, 
      ele_interval, ele_total)
    values (#{dataId,jdbcType=VARCHAR}, #{pumpId,jdbcType=VARCHAR}, #{intervalYear,jdbcType=SMALLINT}, 
      #{intervalMonth,jdbcType=SMALLINT}, #{intervalDay,jdbcType=SMALLINT}, #{intervalHour,jdbcType=SMALLINT}, 
      #{eleInterval,jdbcType=DECIMAL}, #{eleTotal,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.xt.entity.generation.PumpEleStatistics">
    insert into w_pump_ele_statistics
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dataId != null">
        data_id,
      </if>
      <if test="pumpId != null">
        pump_id,
      </if>
      <if test="intervalYear != null">
        interval_year,
      </if>
      <if test="intervalMonth != null">
        interval_month,
      </if>
      <if test="intervalDay != null">
        interval_day,
      </if>
      <if test="intervalHour != null">
        interval_hour,
      </if>
      <if test="eleInterval != null">
        ele_interval,
      </if>
      <if test="eleTotal != null">
        ele_total,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dataId != null">
        #{dataId,jdbcType=VARCHAR},
      </if>
      <if test="pumpId != null">
        #{pumpId,jdbcType=VARCHAR},
      </if>
      <if test="intervalYear != null">
        #{intervalYear,jdbcType=SMALLINT},
      </if>
      <if test="intervalMonth != null">
        #{intervalMonth,jdbcType=SMALLINT},
      </if>
      <if test="intervalDay != null">
        #{intervalDay,jdbcType=SMALLINT},
      </if>
      <if test="intervalHour != null">
        #{intervalHour,jdbcType=SMALLINT},
      </if>
      <if test="eleInterval != null">
        #{eleInterval,jdbcType=DECIMAL},
      </if>
      <if test="eleTotal != null">
        #{eleTotal,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xt.entity.generation.PumpEleStatisticsExample" resultType="java.lang.Long">
    select count(*) from w_pump_ele_statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update w_pump_ele_statistics
    <set>
      <if test="record.dataId != null">
        data_id = #{record.dataId,jdbcType=VARCHAR},
      </if>
      <if test="record.pumpId != null">
        pump_id = #{record.pumpId,jdbcType=VARCHAR},
      </if>
      <if test="record.intervalYear != null">
        interval_year = #{record.intervalYear,jdbcType=SMALLINT},
      </if>
      <if test="record.intervalMonth != null">
        interval_month = #{record.intervalMonth,jdbcType=SMALLINT},
      </if>
      <if test="record.intervalDay != null">
        interval_day = #{record.intervalDay,jdbcType=SMALLINT},
      </if>
      <if test="record.intervalHour != null">
        interval_hour = #{record.intervalHour,jdbcType=SMALLINT},
      </if>
      <if test="record.eleInterval != null">
        ele_interval = #{record.eleInterval,jdbcType=DECIMAL},
      </if>
      <if test="record.eleTotal != null">
        ele_total = #{record.eleTotal,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update w_pump_ele_statistics
    set data_id = #{record.dataId,jdbcType=VARCHAR},
      pump_id = #{record.pumpId,jdbcType=VARCHAR},
      interval_year = #{record.intervalYear,jdbcType=SMALLINT},
      interval_month = #{record.intervalMonth,jdbcType=SMALLINT},
      interval_day = #{record.intervalDay,jdbcType=SMALLINT},
      interval_hour = #{record.intervalHour,jdbcType=SMALLINT},
      ele_interval = #{record.eleInterval,jdbcType=DECIMAL},
      ele_total = #{record.eleTotal,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xt.entity.generation.PumpEleStatistics">
    update w_pump_ele_statistics
    <set>
      <if test="pumpId != null">
        pump_id = #{pumpId,jdbcType=VARCHAR},
      </if>
      <if test="intervalYear != null">
        interval_year = #{intervalYear,jdbcType=SMALLINT},
      </if>
      <if test="intervalMonth != null">
        interval_month = #{intervalMonth,jdbcType=SMALLINT},
      </if>
      <if test="intervalDay != null">
        interval_day = #{intervalDay,jdbcType=SMALLINT},
      </if>
      <if test="intervalHour != null">
        interval_hour = #{intervalHour,jdbcType=SMALLINT},
      </if>
      <if test="eleInterval != null">
        ele_interval = #{eleInterval,jdbcType=DECIMAL},
      </if>
      <if test="eleTotal != null">
        ele_total = #{eleTotal,jdbcType=DECIMAL},
      </if>
    </set>
    where data_id = #{dataId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xt.entity.generation.PumpEleStatistics">
    update w_pump_ele_statistics
    set pump_id = #{pumpId,jdbcType=VARCHAR},
      interval_year = #{intervalYear,jdbcType=SMALLINT},
      interval_month = #{intervalMonth,jdbcType=SMALLINT},
      interval_day = #{intervalDay,jdbcType=SMALLINT},
      interval_hour = #{intervalHour,jdbcType=SMALLINT},
      ele_interval = #{eleInterval,jdbcType=DECIMAL},
      ele_total = #{eleTotal,jdbcType=DECIMAL}
    where data_id = #{dataId,jdbcType=VARCHAR}
  </update>
</mapper>