<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xt.dao.generation.PumpEleMapper">
  <resultMap id="BaseResultMap" type="com.xt.entity.generation.PumpEle">
    <id column="data_id" jdbcType="VARCHAR" property="dataId" />
    <result column="pump_id" jdbcType="VARCHAR" property="pumpId" />
    <result column="collect_time" jdbcType="TIMESTAMP" property="collectTime" />
    <result column="electricity" jdbcType="DECIMAL" property="electricity" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    data_id, pump_id, collect_time, electricity, create_time
  </sql>
  <select id="selectByExample" parameterType="com.xt.entity.generation.PumpEleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from w_pump_ele
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from w_pump_ele
    where data_id = #{dataId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from w_pump_ele
    where data_id = #{dataId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xt.entity.generation.PumpEleExample">
    delete from w_pump_ele
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xt.entity.generation.PumpEle">
    insert into w_pump_ele (data_id, pump_id, collect_time, 
      electricity, create_time)
    values (#{dataId,jdbcType=VARCHAR}, #{pumpId,jdbcType=VARCHAR}, #{collectTime,jdbcType=TIMESTAMP}, 
      #{electricity,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xt.entity.generation.PumpEle">
    insert into w_pump_ele
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dataId != null">
        data_id,
      </if>
      <if test="pumpId != null">
        pump_id,
      </if>
      <if test="collectTime != null">
        collect_time,
      </if>
      <if test="electricity != null">
        electricity,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dataId != null">
        #{dataId,jdbcType=VARCHAR},
      </if>
      <if test="pumpId != null">
        #{pumpId,jdbcType=VARCHAR},
      </if>
      <if test="collectTime != null">
        #{collectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="electricity != null">
        #{electricity,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xt.entity.generation.PumpEleExample" resultType="java.lang.Long">
    select count(*) from w_pump_ele
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update w_pump_ele
    <set>
      <if test="record.dataId != null">
        data_id = #{record.dataId,jdbcType=VARCHAR},
      </if>
      <if test="record.pumpId != null">
        pump_id = #{record.pumpId,jdbcType=VARCHAR},
      </if>
      <if test="record.collectTime != null">
        collect_time = #{record.collectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.electricity != null">
        electricity = #{record.electricity,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update w_pump_ele
    set data_id = #{record.dataId,jdbcType=VARCHAR},
      pump_id = #{record.pumpId,jdbcType=VARCHAR},
      collect_time = #{record.collectTime,jdbcType=TIMESTAMP},
      electricity = #{record.electricity,jdbcType=DECIMAL},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xt.entity.generation.PumpEle">
    update w_pump_ele
    <set>
      <if test="pumpId != null">
        pump_id = #{pumpId,jdbcType=VARCHAR},
      </if>
      <if test="collectTime != null">
        collect_time = #{collectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="electricity != null">
        electricity = #{electricity,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where data_id = #{dataId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xt.entity.generation.PumpEle">
    update w_pump_ele
    set pump_id = #{pumpId,jdbcType=VARCHAR},
      collect_time = #{collectTime,jdbcType=TIMESTAMP},
      electricity = #{electricity,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where data_id = #{dataId,jdbcType=VARCHAR}
  </update>
</mapper>