<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xt.dao.generation.StoppageMapper">
  <resultMap id="BaseResultMap" type="com.xt.entity.generation.Stoppage">
    <id column="stoppage_id" jdbcType="VARCHAR" property="stoppageId" />
    <result column="operator_id" jdbcType="VARCHAR" property="operatorId" />
    <result column="stoppage_no" jdbcType="VARCHAR" property="stoppageNo" />
    <result column="pump_id" jdbcType="VARCHAR" property="pumpId" />
    <result column="pump_warn_id" jdbcType="VARCHAR" property="pumpWarnId" />
    <result column="descript" jdbcType="VARCHAR" property="descript" />
    <result column="attach_id" jdbcType="VARCHAR" property="attachId" />
    <result column="originator_id" jdbcType="VARCHAR" property="originatorId" />
    <result column="occur_time" jdbcType="VARCHAR" property="occurTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="handle_status" jdbcType="CHAR" property="handleStatus" />
    <result column="handle_modify_time" jdbcType="TIMESTAMP" property="handleModifyTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    stoppage_id, operator_id, stoppage_no, pump_id, pump_warn_id, descript, attach_id, 
    originator_id, occur_time, create_time, handle_status, handle_modify_time
  </sql>
  <select id="selectByExample" parameterType="com.xt.entity.generation.StoppageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from w_stoppage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from w_stoppage
    where stoppage_id = #{stoppageId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from w_stoppage
    where stoppage_id = #{stoppageId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xt.entity.generation.StoppageExample">
    delete from w_stoppage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xt.entity.generation.Stoppage">
    insert into w_stoppage (stoppage_id, operator_id, stoppage_no, 
      pump_id, pump_warn_id, descript, 
      attach_id, originator_id, occur_time, 
      create_time, handle_status, handle_modify_time
      )
    values (#{stoppageId,jdbcType=VARCHAR}, #{operatorId,jdbcType=VARCHAR}, #{stoppageNo,jdbcType=VARCHAR}, 
      #{pumpId,jdbcType=VARCHAR}, #{pumpWarnId,jdbcType=VARCHAR}, #{descript,jdbcType=VARCHAR}, 
      #{attachId,jdbcType=VARCHAR}, #{originatorId,jdbcType=VARCHAR}, #{occurTime,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{handleStatus,jdbcType=CHAR}, #{handleModifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xt.entity.generation.Stoppage">
    insert into w_stoppage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stoppageId != null">
        stoppage_id,
      </if>
      <if test="operatorId != null">
        operator_id,
      </if>
      <if test="stoppageNo != null">
        stoppage_no,
      </if>
      <if test="pumpId != null">
        pump_id,
      </if>
      <if test="pumpWarnId != null">
        pump_warn_id,
      </if>
      <if test="descript != null">
        descript,
      </if>
      <if test="attachId != null">
        attach_id,
      </if>
      <if test="originatorId != null">
        originator_id,
      </if>
      <if test="occurTime != null">
        occur_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="handleStatus != null">
        handle_status,
      </if>
      <if test="handleModifyTime != null">
        handle_modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stoppageId != null">
        #{stoppageId,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="stoppageNo != null">
        #{stoppageNo,jdbcType=VARCHAR},
      </if>
      <if test="pumpId != null">
        #{pumpId,jdbcType=VARCHAR},
      </if>
      <if test="pumpWarnId != null">
        #{pumpWarnId,jdbcType=VARCHAR},
      </if>
      <if test="descript != null">
        #{descript,jdbcType=VARCHAR},
      </if>
      <if test="attachId != null">
        #{attachId,jdbcType=VARCHAR},
      </if>
      <if test="originatorId != null">
        #{originatorId,jdbcType=VARCHAR},
      </if>
      <if test="occurTime != null">
        #{occurTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="handleStatus != null">
        #{handleStatus,jdbcType=CHAR},
      </if>
      <if test="handleModifyTime != null">
        #{handleModifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xt.entity.generation.StoppageExample" resultType="java.lang.Long">
    select count(*) from w_stoppage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update w_stoppage
    <set>
      <if test="record.stoppageId != null">
        stoppage_id = #{record.stoppageId,jdbcType=VARCHAR},
      </if>
      <if test="record.operatorId != null">
        operator_id = #{record.operatorId,jdbcType=VARCHAR},
      </if>
      <if test="record.stoppageNo != null">
        stoppage_no = #{record.stoppageNo,jdbcType=VARCHAR},
      </if>
      <if test="record.pumpId != null">
        pump_id = #{record.pumpId,jdbcType=VARCHAR},
      </if>
      <if test="record.pumpWarnId != null">
        pump_warn_id = #{record.pumpWarnId,jdbcType=VARCHAR},
      </if>
      <if test="record.descript != null">
        descript = #{record.descript,jdbcType=VARCHAR},
      </if>
      <if test="record.attachId != null">
        attach_id = #{record.attachId,jdbcType=VARCHAR},
      </if>
      <if test="record.originatorId != null">
        originator_id = #{record.originatorId,jdbcType=VARCHAR},
      </if>
      <if test="record.occurTime != null">
        occur_time = #{record.occurTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.handleStatus != null">
        handle_status = #{record.handleStatus,jdbcType=CHAR},
      </if>
      <if test="record.handleModifyTime != null">
        handle_modify_time = #{record.handleModifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update w_stoppage
    set stoppage_id = #{record.stoppageId,jdbcType=VARCHAR},
      operator_id = #{record.operatorId,jdbcType=VARCHAR},
      stoppage_no = #{record.stoppageNo,jdbcType=VARCHAR},
      pump_id = #{record.pumpId,jdbcType=VARCHAR},
      pump_warn_id = #{record.pumpWarnId,jdbcType=VARCHAR},
      descript = #{record.descript,jdbcType=VARCHAR},
      attach_id = #{record.attachId,jdbcType=VARCHAR},
      originator_id = #{record.originatorId,jdbcType=VARCHAR},
      occur_time = #{record.occurTime,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      handle_status = #{record.handleStatus,jdbcType=CHAR},
      handle_modify_time = #{record.handleModifyTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xt.entity.generation.Stoppage">
    update w_stoppage
    <set>
      <if test="operatorId != null">
        operator_id = #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="stoppageNo != null">
        stoppage_no = #{stoppageNo,jdbcType=VARCHAR},
      </if>
      <if test="pumpId != null">
        pump_id = #{pumpId,jdbcType=VARCHAR},
      </if>
      <if test="pumpWarnId != null">
        pump_warn_id = #{pumpWarnId,jdbcType=VARCHAR},
      </if>
      <if test="descript != null">
        descript = #{descript,jdbcType=VARCHAR},
      </if>
      <if test="attachId != null">
        attach_id = #{attachId,jdbcType=VARCHAR},
      </if>
      <if test="originatorId != null">
        originator_id = #{originatorId,jdbcType=VARCHAR},
      </if>
      <if test="occurTime != null">
        occur_time = #{occurTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="handleStatus != null">
        handle_status = #{handleStatus,jdbcType=CHAR},
      </if>
      <if test="handleModifyTime != null">
        handle_modify_time = #{handleModifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where stoppage_id = #{stoppageId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xt.entity.generation.Stoppage">
    update w_stoppage
    set operator_id = #{operatorId,jdbcType=VARCHAR},
      stoppage_no = #{stoppageNo,jdbcType=VARCHAR},
      pump_id = #{pumpId,jdbcType=VARCHAR},
      pump_warn_id = #{pumpWarnId,jdbcType=VARCHAR},
      descript = #{descript,jdbcType=VARCHAR},
      attach_id = #{attachId,jdbcType=VARCHAR},
      originator_id = #{originatorId,jdbcType=VARCHAR},
      occur_time = #{occurTime,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      handle_status = #{handleStatus,jdbcType=CHAR},
      handle_modify_time = #{handleModifyTime,jdbcType=TIMESTAMP}
    where stoppage_id = #{stoppageId,jdbcType=VARCHAR}
  </update>
</mapper>