<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xt.dao.generation.StoppageHandleEvaluateMapper">
  <resultMap id="BaseResultMap" type="com.xt.entity.generation.StoppageHandleEvaluate">
    <id column="evaluate_id" jdbcType="BIGINT" property="evaluateId" />
    <result column="stoppage_handle_id" jdbcType="BIGINT" property="stoppageHandleId" />
    <result column="evaluate_user_id" jdbcType="BIGINT" property="evaluateUserId" />
    <result column="evaluate_time" jdbcType="TIMESTAMP" property="evaluateTime" />
    <result column="evaluate_level" jdbcType="CHAR" property="evaluateLevel" />
    <result column="evaluate_descript" jdbcType="VARCHAR" property="evaluateDescript" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    evaluate_id, stoppage_handle_id, evaluate_user_id, evaluate_time, evaluate_level, 
    evaluate_descript
  </sql>
  <select id="selectByExample" parameterType="com.xt.entity.generation.StoppageHandleEvaluateExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from w_stoppage_handle_evaluate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from w_stoppage_handle_evaluate
    where evaluate_id = #{evaluateId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from w_stoppage_handle_evaluate
    where evaluate_id = #{evaluateId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xt.entity.generation.StoppageHandleEvaluateExample">
    delete from w_stoppage_handle_evaluate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xt.entity.generation.StoppageHandleEvaluate">
    insert into w_stoppage_handle_evaluate (evaluate_id, stoppage_handle_id, evaluate_user_id, 
      evaluate_time, evaluate_level, evaluate_descript
      )
    values (#{evaluateId,jdbcType=BIGINT}, #{stoppageHandleId,jdbcType=BIGINT}, #{evaluateUserId,jdbcType=BIGINT}, 
      #{evaluateTime,jdbcType=TIMESTAMP}, #{evaluateLevel,jdbcType=CHAR}, #{evaluateDescript,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xt.entity.generation.StoppageHandleEvaluate">
    insert into w_stoppage_handle_evaluate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="evaluateId != null">
        evaluate_id,
      </if>
      <if test="stoppageHandleId != null">
        stoppage_handle_id,
      </if>
      <if test="evaluateUserId != null">
        evaluate_user_id,
      </if>
      <if test="evaluateTime != null">
        evaluate_time,
      </if>
      <if test="evaluateLevel != null">
        evaluate_level,
      </if>
      <if test="evaluateDescript != null">
        evaluate_descript,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="evaluateId != null">
        #{evaluateId,jdbcType=BIGINT},
      </if>
      <if test="stoppageHandleId != null">
        #{stoppageHandleId,jdbcType=BIGINT},
      </if>
      <if test="evaluateUserId != null">
        #{evaluateUserId,jdbcType=BIGINT},
      </if>
      <if test="evaluateTime != null">
        #{evaluateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="evaluateLevel != null">
        #{evaluateLevel,jdbcType=CHAR},
      </if>
      <if test="evaluateDescript != null">
        #{evaluateDescript,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xt.entity.generation.StoppageHandleEvaluateExample" resultType="java.lang.Long">
    select count(*) from w_stoppage_handle_evaluate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update w_stoppage_handle_evaluate
    <set>
      <if test="record.evaluateId != null">
        evaluate_id = #{record.evaluateId,jdbcType=BIGINT},
      </if>
      <if test="record.stoppageHandleId != null">
        stoppage_handle_id = #{record.stoppageHandleId,jdbcType=BIGINT},
      </if>
      <if test="record.evaluateUserId != null">
        evaluate_user_id = #{record.evaluateUserId,jdbcType=BIGINT},
      </if>
      <if test="record.evaluateTime != null">
        evaluate_time = #{record.evaluateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.evaluateLevel != null">
        evaluate_level = #{record.evaluateLevel,jdbcType=CHAR},
      </if>
      <if test="record.evaluateDescript != null">
        evaluate_descript = #{record.evaluateDescript,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update w_stoppage_handle_evaluate
    set evaluate_id = #{record.evaluateId,jdbcType=BIGINT},
      stoppage_handle_id = #{record.stoppageHandleId,jdbcType=BIGINT},
      evaluate_user_id = #{record.evaluateUserId,jdbcType=BIGINT},
      evaluate_time = #{record.evaluateTime,jdbcType=TIMESTAMP},
      evaluate_level = #{record.evaluateLevel,jdbcType=CHAR},
      evaluate_descript = #{record.evaluateDescript,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xt.entity.generation.StoppageHandleEvaluate">
    update w_stoppage_handle_evaluate
    <set>
      <if test="stoppageHandleId != null">
        stoppage_handle_id = #{stoppageHandleId,jdbcType=BIGINT},
      </if>
      <if test="evaluateUserId != null">
        evaluate_user_id = #{evaluateUserId,jdbcType=BIGINT},
      </if>
      <if test="evaluateTime != null">
        evaluate_time = #{evaluateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="evaluateLevel != null">
        evaluate_level = #{evaluateLevel,jdbcType=CHAR},
      </if>
      <if test="evaluateDescript != null">
        evaluate_descript = #{evaluateDescript,jdbcType=VARCHAR},
      </if>
    </set>
    where evaluate_id = #{evaluateId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xt.entity.generation.StoppageHandleEvaluate">
    update w_stoppage_handle_evaluate
    set stoppage_handle_id = #{stoppageHandleId,jdbcType=BIGINT},
      evaluate_user_id = #{evaluateUserId,jdbcType=BIGINT},
      evaluate_time = #{evaluateTime,jdbcType=TIMESTAMP},
      evaluate_level = #{evaluateLevel,jdbcType=CHAR},
      evaluate_descript = #{evaluateDescript,jdbcType=VARCHAR}
    where evaluate_id = #{evaluateId,jdbcType=BIGINT}
  </update>
</mapper>