<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xt.dao.generation.UserMapper">
  <resultMap id="BaseResultMap" type="com.xt.entity.generation.User">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_login_name" jdbcType="VARCHAR" property="userLoginName" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_name_py" jdbcType="VARCHAR" property="userNamePy" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="user_portrait_path" jdbcType="VARCHAR" property="userPortraitPath" />
    <result column="user_wx_open_id" jdbcType="VARCHAR" property="userWxOpenId" />
    <result column="user_disable_status" jdbcType="BIT" property="userDisableStatus" />
    <result column="user_regist_time" jdbcType="TIMESTAMP" property="userRegistTime" />
    <result column="user_modify_time" jdbcType="TIMESTAMP" property="userModifyTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_id, user_login_name, user_name, user_name_py, user_phone, user_password, role_id, 
    user_portrait_path, user_wx_open_id, user_disable_status, user_regist_time, user_modify_time
  </sql>
  <select id="selectByExample" parameterType="com.xt.entity.generation.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from w_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from w_user
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from w_user
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xt.entity.generation.UserExample">
    delete from w_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xt.entity.generation.User">
    insert into w_user (user_id, user_login_name, user_name, 
      user_name_py, user_phone, user_password, 
      role_id, user_portrait_path, user_wx_open_id, 
      user_disable_status, user_regist_time, user_modify_time
      )
    values (#{userId,jdbcType=BIGINT}, #{userLoginName,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userNamePy,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, 
      #{roleId,jdbcType=BIGINT}, #{userPortraitPath,jdbcType=VARCHAR}, #{userWxOpenId,jdbcType=VARCHAR}, 
      #{userDisableStatus,jdbcType=BIT}, #{userRegistTime,jdbcType=TIMESTAMP}, #{userModifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xt.entity.generation.User">
    insert into w_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userLoginName != null">
        user_login_name,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userNamePy != null">
        user_name_py,
      </if>
      <if test="userPhone != null">
        user_phone,
      </if>
      <if test="userPassword != null">
        user_password,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="userPortraitPath != null">
        user_portrait_path,
      </if>
      <if test="userWxOpenId != null">
        user_wx_open_id,
      </if>
      <if test="userDisableStatus != null">
        user_disable_status,
      </if>
      <if test="userRegistTime != null">
        user_regist_time,
      </if>
      <if test="userModifyTime != null">
        user_modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userLoginName != null">
        #{userLoginName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userNamePy != null">
        #{userNamePy,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="userPortraitPath != null">
        #{userPortraitPath,jdbcType=VARCHAR},
      </if>
      <if test="userWxOpenId != null">
        #{userWxOpenId,jdbcType=VARCHAR},
      </if>
      <if test="userDisableStatus != null">
        #{userDisableStatus,jdbcType=BIT},
      </if>
      <if test="userRegistTime != null">
        #{userRegistTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userModifyTime != null">
        #{userModifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xt.entity.generation.UserExample" resultType="java.lang.Long">
    select count(*) from w_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update w_user
    <set>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.userLoginName != null">
        user_login_name = #{record.userLoginName,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null">
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userNamePy != null">
        user_name_py = #{record.userNamePy,jdbcType=VARCHAR},
      </if>
      <if test="record.userPhone != null">
        user_phone = #{record.userPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.userPassword != null">
        user_password = #{record.userPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.roleId != null">
        role_id = #{record.roleId,jdbcType=BIGINT},
      </if>
      <if test="record.userPortraitPath != null">
        user_portrait_path = #{record.userPortraitPath,jdbcType=VARCHAR},
      </if>
      <if test="record.userWxOpenId != null">
        user_wx_open_id = #{record.userWxOpenId,jdbcType=VARCHAR},
      </if>
      <if test="record.userDisableStatus != null">
        user_disable_status = #{record.userDisableStatus,jdbcType=BIT},
      </if>
      <if test="record.userRegistTime != null">
        user_regist_time = #{record.userRegistTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userModifyTime != null">
        user_modify_time = #{record.userModifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update w_user
    set user_id = #{record.userId,jdbcType=BIGINT},
      user_login_name = #{record.userLoginName,jdbcType=VARCHAR},
      user_name = #{record.userName,jdbcType=VARCHAR},
      user_name_py = #{record.userNamePy,jdbcType=VARCHAR},
      user_phone = #{record.userPhone,jdbcType=VARCHAR},
      user_password = #{record.userPassword,jdbcType=VARCHAR},
      role_id = #{record.roleId,jdbcType=BIGINT},
      user_portrait_path = #{record.userPortraitPath,jdbcType=VARCHAR},
      user_wx_open_id = #{record.userWxOpenId,jdbcType=VARCHAR},
      user_disable_status = #{record.userDisableStatus,jdbcType=BIT},
      user_regist_time = #{record.userRegistTime,jdbcType=TIMESTAMP},
      user_modify_time = #{record.userModifyTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xt.entity.generation.User">
    update w_user
    <set>
      <if test="userLoginName != null">
        user_login_name = #{userLoginName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userNamePy != null">
        user_name_py = #{userNamePy,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=BIGINT},
      </if>
      <if test="userPortraitPath != null">
        user_portrait_path = #{userPortraitPath,jdbcType=VARCHAR},
      </if>
      <if test="userWxOpenId != null">
        user_wx_open_id = #{userWxOpenId,jdbcType=VARCHAR},
      </if>
      <if test="userDisableStatus != null">
        user_disable_status = #{userDisableStatus,jdbcType=BIT},
      </if>
      <if test="userRegistTime != null">
        user_regist_time = #{userRegistTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userModifyTime != null">
        user_modify_time = #{userModifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xt.entity.generation.User">
    update w_user
    set user_login_name = #{userLoginName,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_name_py = #{userNamePy,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=BIGINT},
      user_portrait_path = #{userPortraitPath,jdbcType=VARCHAR},
      user_wx_open_id = #{userWxOpenId,jdbcType=VARCHAR},
      user_disable_status = #{userDisableStatus,jdbcType=BIT},
      user_regist_time = #{userRegistTime,jdbcType=TIMESTAMP},
      user_modify_time = #{userModifyTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>