<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xt.dao.generation.WeatherKeyMapper">
  <resultMap id="BaseResultMap" type="com.xt.entity.generation.WeatherKey">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="weather_key" jdbcType="VARCHAR" property="weatherKey" />
    <result column="weather_email" jdbcType="VARCHAR" property="weatherEmail" />
    <result column="weather_email_password" jdbcType="VARCHAR" property="weatherEmailPassword" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, weather_key, weather_email, weather_email_password
  </sql>
  <select id="selectByExample" parameterType="com.xt.entity.generation.WeatherKeyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from w_weather_key
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from w_weather_key
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from w_weather_key
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xt.entity.generation.WeatherKeyExample">
    delete from w_weather_key
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xt.entity.generation.WeatherKey">
    insert into w_weather_key (id, weather_key, weather_email, 
      weather_email_password)
    values (#{id,jdbcType=VARCHAR}, #{weatherKey,jdbcType=VARCHAR}, #{weatherEmail,jdbcType=VARCHAR}, 
      #{weatherEmailPassword,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xt.entity.generation.WeatherKey">
    insert into w_weather_key
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="weatherKey != null">
        weather_key,
      </if>
      <if test="weatherEmail != null">
        weather_email,
      </if>
      <if test="weatherEmailPassword != null">
        weather_email_password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="weatherKey != null">
        #{weatherKey,jdbcType=VARCHAR},
      </if>
      <if test="weatherEmail != null">
        #{weatherEmail,jdbcType=VARCHAR},
      </if>
      <if test="weatherEmailPassword != null">
        #{weatherEmailPassword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xt.entity.generation.WeatherKeyExample" resultType="java.lang.Long">
    select count(*) from w_weather_key
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update w_weather_key
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.weatherKey != null">
        weather_key = #{record.weatherKey,jdbcType=VARCHAR},
      </if>
      <if test="record.weatherEmail != null">
        weather_email = #{record.weatherEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.weatherEmailPassword != null">
        weather_email_password = #{record.weatherEmailPassword,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update w_weather_key
    set id = #{record.id,jdbcType=VARCHAR},
      weather_key = #{record.weatherKey,jdbcType=VARCHAR},
      weather_email = #{record.weatherEmail,jdbcType=VARCHAR},
      weather_email_password = #{record.weatherEmailPassword,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xt.entity.generation.WeatherKey">
    update w_weather_key
    <set>
      <if test="weatherKey != null">
        weather_key = #{weatherKey,jdbcType=VARCHAR},
      </if>
      <if test="weatherEmail != null">
        weather_email = #{weatherEmail,jdbcType=VARCHAR},
      </if>
      <if test="weatherEmailPassword != null">
        weather_email_password = #{weatherEmailPassword,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xt.entity.generation.WeatherKey">
    update w_weather_key
    set weather_key = #{weatherKey,jdbcType=VARCHAR},
      weather_email = #{weatherEmail,jdbcType=VARCHAR},
      weather_email_password = #{weatherEmailPassword,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>